[user]
	email = josedelinux@hotmail.com
	name = Juan Chan
[color]
	ui = auto
# [http]
# 	proxy = http://172.20.240.1:10811
# [https]
# 	proxy = http://172.20.240.1:10811
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main

[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false[alias]
  wdiff = diff --word-diff=color --unified=1

# add this to .gitattributes
# *.docx diff=pandoc
